.menu__feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback__title {
    display: flex;
    align-items: center;
    width: 80%;
    height: 20%;
}

.feedback__container {
    width: 80%;
    height: 80%;
}

.feedback__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.feedback__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    border: 2px solid $borders;
    border-radius: 5px;
}

