.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.menu__title {
    width: 100%;
    color: $main-color-text;
    margin: 2% 0;
    padding: 3% 0 3% 3%;
    border: 2px solid $borders;
    border-radius: 5px;
};

.menu__content {
    display: flex;
    width: 100%;
    height: 80%;
    border: 2px solid $borders;
    border-radius: 5px;
}